* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

nav ul li { 
    list-style: none; 
    margin-left: 1rem; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; 
    font-size: 2rem;
    background-color: white; 
    border: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

nav ul a { text-decoration: none}
   
.header {
    background-image: url(../assets/heroimagen.jpeg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    display: flex; 
    flex-wrap: wrap;
    padding: 50px 100px; 
    align-items: center; 
    justify-content: space-between;
}

.header__logo { 
    cursor: pointer; 
    height: 200px;
}

.header__nav {
        display: flex; 
        align-items: center; 
        justify-content: space-evenly;
}

.header__list { 
    display: flex;
    list-style: none; 
    font-family:'Roboto', sans-serif; 
    font:bold ;    
}

.header__link { list-style: none;}



body { 
    background-color:#957DAD;
}  

.footer {
    display: flex; 
    align-items: center; 
    background-color: #E0BBE4 ; 
    justify-content: space-between; 
}

.footer__logo {
    height: 150px;
    margin-left: 2rem;
}

.footer__slogan { 
    font-family:'Roboto', sans-serif; 
    color: blueviolet; 
    font-size: 1.5rem;
}

.footer__sec {
    font-family:'Roboto', sans-serif; 
    display: inline; 
    font-style: bold;
}

.footer__ordernow {
    margin-right: 2rem;
}

.footer__item {
    height: 35px;
}

/*ASPECTOS GENERALES*/

.section__hg {
    padding: 2rem;
}

.hg__text {
    color: white;
    text-align: center;
    font-size: 5rem;
}

.grid__gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;

}

.gallery__item {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: width 3s;
}

.gallery__item:hover { 
    width: 90%;
}

.gallery__item1 {
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:3;
}

.gallery__item2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

.prod__section {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    height: 32vh;
    margin-bottom: 6rem;
}

.hi__text {
    font-size: 2rem;
    color: white;;
}

.home__item { 
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    background: violet;
    border-radius: 15px;
    height: 100%;
    width: 70%;
    padding: 10px;
    margin: 10px;
    box-shadow: webkit-box-shadow: 11px 24px 46px -12px rgba(0,0,0,1);
-moz-box-shadow: 11px 24px 46px -12px rgba(0,0,0,1);
box-shadow: 11px 24px 46px -12px rgba(0,0,0,1);
}

.hi__image {
    height: 7rem;    
}

/*MAIN MENU*/

.products__area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.cakes__area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.slices__area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cakes__img, .slices__img {
    width: 15rem;
    height: 20rem;
    margin: 0.5rem;
}

.cakes__pr, .slices__pr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
    margin: 2rem;
    padding: 1rem;
}

/*PRODUCTS SECTION*/

.gallery__text {
    color: violet;
    size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-align: center;
}

.sec__gallery {
    display: inline-block;
}

.gal__item { width: 20rem; }

/*GALLERY*/

.contact { 
    display: flex;
    background-color: #957DAD;
    align-items: center;
    justify-content: center;
}

form {
    background-color:#957DAD;
    margin: 5rem 10rem;
    line-height: 2rem;
}

form legend {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button__send {
    background-color: white;
    color:green
}

.button__delete {
background-color: white;
color: red;
}

/*ORDER*/

.au__art {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.au__text {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: white;
    margin-left: 2rem;
    display: inline-block;
    line-height: 120%;
    text-align: justify;
}

.second {margin-top: 2rem;}

.au__img { 
    padding: 5%;
}

/*ABOUT US*/

/*---MEDIAS QUERIES----*/

@media screen and (max-width: 425px) {
 
    .header, .footer, .prod__section, .header__list, .home__gallery,.footer__ordernow, .footer__redes, .sec__gallery, .au__art, .contact {
        display: flex;
        flex-direction: column;
        gap:20px;
        margin: 0%;
        padding: 0%;
        align-items: center;
    }

    .footer__slogan { margin: 1rem;
                      text-align: center;
    }
    
    .gallery__item { height: 10rem; }

    .home__gallery { display: flex; }

    .au__img { height: 20rem;}
    
    .au__text { 
        margin: 2rem;
        text-align: center;
    }
}

@media only screen and ( min-width: 760px ) and ( max-width:768px ) {

    
    nav ul li {
        font-size: 1.5rem;
        text-align: center;
    }

    .header__logo {
        margin-left: 35%;
    }

    .prod__section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .home__gallery, .sec__gallery {
        display: inline-block;
        margin-left: 4rem;
    }

    .gallery__item { padding: 1rem;}

    .au__art {
        display: flex;
        flex-direction: column;
    }

    .au__text {
        margin: 2rem;
        text-align: justify;
    }

    .footer {gap: 2rem;}

    .contact {
        display: flex;
        margin-left: 5rem;
    }
}
    
